.btn {
  border: none;
  border-radius: 0;
  padding: 15px 30px; }
  .btn i {
    font-size: 0.8em; }

.btn-primary {
  background: #1ab5d9; }
  .btn-primary:hover {
    background: #1697b4; }

body {
  -webkit-font-smoothing: antialiased;
  padding-top: 70px;
  font-family: "PT Sans", sans-serif; }

form label.error {
  position: absolute;
  top: -34px;
  right: 15px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 2px;
  font-size: 14px;
  white-space: nowrap;
  font-weight: normal; }
  form label.error:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 8px solid;
    border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
    display: block;
    top: 30px;
    right: 15px; }
form#survey .col-sm-3 {
  position: static;
  text-align: center; }
form#survey .form-group {
  position: relative; }
  form#survey .form-group label.error {
    right: 50%;
    margin-right: -100px;
    padding: 4px 8px;
    font-size: 13px; }
    form#survey .form-group label.error:after {
      top: 26px;
      right: 50%;
      margin-right: -5px; }

.checkbox {
  margin-top: 0; }
  .checkbox label {
    padding: 0; }
    .checkbox label input[type="radio"] {
      margin-right: 5px; }

.modal .modal-dialog {
  width: 700px; }
.modal .form-group {
  border-bottom: 1px solid #efefef; }
.modal .col-sm-3 {
  width: 20%; }
.modal .col-sm-9 {
  width: 80%;
  padding: 0; }

.navbar {
  border-radius: 0;
  background: #1ab5d9;
  border: none; }
  .navbar .navbar-toggle {
    border: none;
    margin-top: 15px; }
    .navbar .navbar-toggle:hover {
      background: rgba(0, 0, 0, 0.05); }
    .navbar .navbar-toggle:active, .navbar .navbar-toggle:focus, .navbar .navbar-toggle.active {
      background: none;
      outline: 0; }
    .navbar .navbar-toggle .icon-bar {
      background-color: white;
      height: 3px;
      border-radius: 0;
      width: 24px; }
  .navbar .navbar-brand {
    background: url("../img/logo-2x-white.png") center center no-repeat;
    background-size: 144px 40px;
    width: 164px;
    height: 70px;
    text-indent: -9999px; }
  .navbar .navbar-collapse {
    border: none; }
  .navbar .navbar-nav li a {
    padding: 0 20px;
    line-height: 70px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.85); }
    .navbar .navbar-nav li a:hover {
      color: white;
      background: rgba(0, 0, 0, 0.04); }

section {
  padding: 3em 0; }
  section hr {
    border-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.52);
    margin: 30px 0; }
  section.mint {
    background: #f4fcfe; }
  section.ash {
    background: #efefef; }
  section.blue {
    background: #1ab5d9; }
    section.blue h1, section.blue h2, section.blue h3, section.blue p {
      color: white !important; }
  section .card {
    border: 1px solid #c7eff8;
    background: white;
    padding: 30px;
    position: relative; }
    section .card .corner-ribbon {
      width: 125px;
      height: auto;
      position: absolute;
      top: -7px;
      right: -7px;
      z-index: 9; }
  section#hero {
    padding: 2em 0; }
    section#hero h1 {
      font-size: 46px;
      margin-bottom: 30px; }
    section#hero h2 {
      text-align: left;
      font-size: 28px;
      font-weight: bold; }
    section#hero h3 {
      font-size: 20px; }
    section#hero ul {
      margin: 0 0 0 10%;
      list-style-type: none;
      padding: 0; }
      section#hero ul li {
        font-size: 24px; }
        section#hero ul li i {
          font-size: 0.75em;
          margin-right: 8px; }
  section h1 {
    font-size: 42px;
    margin: 0 0 50px;
    color: #0a4350; }
  section h2 {
    font-size: 32px;
    margin: 0 0 20px; }
  section h3 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold; }
  section#trust-bar {
    padding: 0 0 2em 0;
    background: #f4fcfe; }
    section#trust-bar img {
      height: 60px;
      width: auto; }
      section#trust-bar img.patent {
        height: 40px;
        margin-top: 10px; }
  section#testimonials img {
    display: inline-block; }
  section ul li {
    font-size: 20px;
    margin-bottom: 10px; }
  section p {
    font-size: 17px;
    line-height: 1.6; }
    section p small {
      font-size: 13px; }
  section .form-control {
    font-size: 17px;
    padding: 10px 12px;
    height: 38px; }
  section blockquote {
    display: inline-block;
    max-width: 90%;
    position: relative;
    border-radius: 2px;
    padding: 0 20px;
    font-family: Georgia, serif;
    font-style: italic;
    color: #555555;
    border: none;
    font-size: 14px;
    line-height: 1.5;
    margin: 0 0 20px 0;
    clear: both; }
    section blockquote small {
      margin-top: 10px;
      font-size: 105%; }
  section .credit-card {
    vertical-align: middle;
    display: inline-block;
    width: 32px;
    height: 22px;
    margin: 8px 4px;
    background-size: 192px 22px;
    background-repeat: no-repeat;
    background-image: url("../img/credit-card-icons.jpg"); }
    section .credit-card.visa {
      background-position: -96px; }
    section .credit-card.visa-debit {
      background-position: -64px 0; }
    section .credit-card.mastercard {
      background-position: 0 0; }
    section .credit-card.maestro {
      background-position: -32px 0; }
    section .credit-card.discover {
      background-position: -128px 0; }
    section .credit-card.amex {
      background-position: -160px; }
  section .form-group {
    position: relative; }
  section .ccv {
    position: relative; }
    section .ccv i {
      position: absolute;
      top: 10px;
      right: -20px;
      z-index: 9; }
  section .panel-group .panel {
    box-shadow: none;
    border-radius: 2px;
    margin-bottom: 1em; }
    section .panel-group .panel .panel-heading {
      background: white;
      border: none; }
      section .panel-group .panel .panel-heading .panel-title {
        padding: 8px 0; }
        section .panel-group .panel .panel-heading .panel-title a {
          font-size: 17px; }
          section .panel-group .panel .panel-heading .panel-title a .glyphicon {
            color: #dadada;
            font-size: 0.75em;
            margin-right: 10px; }
          section .panel-group .panel .panel-heading .panel-title a .glyphicon-chevron-down {
            display: inline-block; }
          section .panel-group .panel .panel-heading .panel-title a .glyphicon-chevron-right {
            display: none; }
          section .panel-group .panel .panel-heading .panel-title a.collapsed .glyphicon-chevron-right {
            display: inline-block; }
          section .panel-group .panel .panel-heading .panel-title a.collapsed .glyphicon-chevron-down {
            display: none; }
    section .panel-group .panel .panel-collapse .panel-body {
      border-top: none;
      padding: 0 20px 20px 40px; }
      section .panel-group .panel .panel-collapse .panel-body strong {
        font-size: 18px; }
      section .panel-group .panel .panel-collapse .panel-body p {
        font-size: 15px;
        line-height: 1.6; }
      section .panel-group .panel .panel-collapse .panel-body i {
        width: 57px;
        height: 78px;
        float: left;
        margin: 0 25px 20px;
        display: none;
        vertical-align: middle;
        background-size: 57px 78px;
        background-position: bottom center; }
        section .panel-group .panel .panel-collapse .panel-body i.question1 {
          background-image: url("../img/question_img1.jpg"); }
        section .panel-group .panel .panel-collapse .panel-body i.question2 {
          background-image: url("../img/question_img2.jpg"); }
        section .panel-group .panel .panel-collapse .panel-body i.question3 {
          background-image: url("../img/question_img3.jpg"); }
        section .panel-group .panel .panel-collapse .panel-body i.question4 {
          background-image: url("../img/question_img4.jpg"); }
        section .panel-group .panel .panel-collapse .panel-body i.question5 {
          background-image: url("../img/question_img5.jpg"); }
        section .panel-group .panel .panel-collapse .panel-body i.question6 {
          background-image: url("../img/question_img6.jpg"); }
        section .panel-group .panel .panel-collapse .panel-body i.question7 {
          background-image: url("../img/question_img7.jpg"); }
        section .panel-group .panel .panel-collapse .panel-body i.question8 {
          background-image: url("../img/question_img8.jpg"); }
  section#buy-now h1 {
    margin-bottom: 10px; }
  section#buy-now h2 {
    font-size: 26px; }
  section#buy-now .btn {
    margin-top: 10px;
    font-size: 22px;
    padding: 15px 45px; }

.footer {
  padding: 2em 0;
  background: #107187; }
  .footer .copyright {
    color: #f4fcfe; }
    .footer .copyright a {
      color: #f4fcfe; }
  .footer ul.social-media {
    margin: 0 0 10px;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    overflow: auto; }
    .footer ul.social-media li {
      float: left; }
      .footer ul.social-media li a {
        text-indent: -9999px;
        width: 28px;
        height: 28px;
        display: inline-block;
        margin: 0 10px;
        background-position: center center;
        background-repeat: no-repeat; }
        .footer ul.social-media li a:hover {
          opacity: 0.9; }
        .footer ul.social-media li a.facebook {
          background-image: url("../img/facebook-icon.png");
          background-size: 13px 28px; }
        .footer ul.social-media li a.twitter {
          background-image: url("../img/twitter-icon.png");
          background-size: 28px 23px; }
        .footer ul.social-media li a.youtube {
          background-image: url("../img/youtube-icon.png");
          background-size: 28px 28px; }

@media screen and (max-width: 560px) {
  body {
    padding: 0; }
    body .navbar {
      position: static; }
    body section p {
      font-size: 14px;
      line-height: 1.5;
      margin-bottom: 20px; }
    body section img {
      max-width: 100%;
      height: auto; }
    body section hr {
      margin: 10px 0; }
    body section h1 {
      font-size: 28px; }
    body section .card {
      padding: 10px;
      background: #ddf5fb; }
    body section .ccv i {
      right: 20px; }
    body section ul {
      padding: 0;
      margin: 0;
      list-style-position: inside; }
      body section ul li {
        font-size: 16px; }
    body #hero .corner-ribbon {
      width: 100px; }
    body #hero input {
      box-shadow: none;
      border-radius: 2px;
      border-color: #99e2f3;
      -webkit-appearance: none; }
    body #hero select {
      margin-bottom: 10px; }
    body #hero h2 {
      font-size: 24px;
      margin-top: 10px; }
    body #hero h1 {
      font-size: 26px; }
    body #hero h3, body #hero ul li {
      font-size: 16px; }
    body #hero ul {
      padding: 0;
      margin: 0; }
    body #hero p {
      line-height: 1.2; }
      body #hero p small {
        line-height: 1; }
    body #trust-bar img {
      margin: 10px 0; }
    body #buy-now h2 {
      font-size: 16px; }
    body #buy-now .btn-default {
      width: 100%; }
    body .panel-group .panel .panel-heading .panel-title a {
      font-size: 15px; }
    body .panel-group .panel .panel-collapse .panel-body {
      padding: 10px; }
      body .panel-group .panel .panel-collapse .panel-body strong, body .panel-group .panel .panel-collapse .panel-body p {
        font-size: 14px; }
    body .modal .modal-dialog {
      border-radius: 0;
      margin: 0;
      padding: 0;
      width: 100%; }
      body .modal .modal-dialog .modal-content {
        border-radius: 0; } }
