.btn {
  border: none;
  border-radius: 0;
  padding: 15px 30px; }
  .btn i {
    font-size: 0.8em; }

.btn-primary {
  background: #1ab5d9; }
  .btn-primary:hover {
    background: #1697b4; }

body {
  -webkit-font-smoothing: antialiased;
  padding-top: 70px;
  font-family: "PT Sans", sans-serif; }

.navbar {
  border-radius: 0;
  background: #1ab5d9;
  border: none; }
  .navbar .navbar-toggle {
    border: none;
    margin-top: 15px; }
    .navbar .navbar-toggle:hover {
      background: rgba(0, 0, 0, 0.05); }
    .navbar .navbar-toggle:active, .navbar .navbar-toggle:focus, .navbar .navbar-toggle.active {
      background: none;
      outline: 0; }
    .navbar .navbar-toggle .icon-bar {
      background-color: white;
      height: 3px;
      border-radius: 0;
      width: 24px; }
  .navbar .navbar-brand {
    background: url("../img/logo-2x-white.png") center center no-repeat;
    background-size: 144px 40px;
    width: 164px;
    height: 70px;
    text-indent: -9999px; }
  .navbar .navbar-collapse {
    border: none; }
  .navbar .navbar-nav li a {
    padding: 0 20px;
    line-height: 70px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.85); }
    .navbar .navbar-nav li a:hover {
      color: white;
      background: rgba(0, 0, 0, 0.04); }

section {
  padding: 3em 0; }
  section hr {
    border-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.52);
    margin: 30px 0; }
  section.mint {
    background: #ddf5fb; }
  section.ash {
    background: #efefef; }
  section.blue {
    background: #1ab5d9; }
    section.blue h1, section.blue h2, section.blue h3, section.blue p {
      color: white !important; }
  section .card {
    border: 1px solid #b0e9f6;
    background: white;
    padding: 30px;
    position: relative; }
    section .card .corner-ribbon {
      width: 125px;
      height: auto;
      position: absolute;
      top: -7px;
      right: -7px;
      z-index: 9; }
  section#hero {
    padding: 2em 0; }
    section#hero h1 {
      font-size: 46px;
      margin-bottom: 30px; }
    section#hero h2 {
      text-align: left;
      font-size: 28px;
      font-weight: bold; }
    section#hero h3 {
      font-size: 20px; }
    section#hero ul {
      margin: 0 0 0 10%;
      list-style-type: none;
      padding: 0; }
      section#hero ul li {
        font-size: 24px; }
        section#hero ul li i {
          font-size: 0.75em;
          margin-right: 8px; }
  section h1 {
    font-size: 42px;
    margin: 0 0 50px;
    color: #0a4350; }
  section h2 {
    font-size: 32px;
    margin: 0 0 20px; }
  section h3 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold; }
  section#trust-bar {
    padding: 0 0 2em 0;
    background: #ddf5fb; }
    section#trust-bar img {
      height: 60px;
      width: auto; }
      section#trust-bar img.patent {
        height: 40px;
        margin-top: 10px; }
  section#testimonials img {
    display: inline-block; }
  section ul li {
    font-size: 20px;
    margin-bottom: 10px; }
  section p {
    font-size: 17px;
    line-height: 1.6; }
    section p small {
      font-size: 13px; }
  section .form-control {
    font-size: 17px;
    padding: 10px 12px;
    height: 38px; }
  section blockquote {
    display: inline-block;
    max-width: 90%;
    position: relative;
    border-radius: 2px;
    padding: 15px 20px;
    font-family: Georgia, serif;
    font-style: italic;
    color: #555555;
    border: none;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 20px 0;
    clear: both; }
    section blockquote small {
      margin-top: 10px;
      font-size: 105%; }
  section .checkbox {
    margin-top: 0; }
    section .checkbox label {
      padding: 0; }
  section .credit-card {
    vertical-align: middle;
    display: inline-block;
    width: 32px;
    height: 22px;
    margin: 8px 4px;
    background-size: 192px 22px;
    background-repeat: no-repeat;
    background-image: url("../img/credit-card-icons.jpg"); }
    section .credit-card.visa {
      background-position: -96px; }
    section .credit-card.visa-debit {
      background-position: -64px 0; }
    section .credit-card.mastercard {
      background-position: 0 0; }
    section .credit-card.maestro {
      background-position: -32px 0; }
    section .credit-card.discover {
      background-position: -128px 0; }
    section .credit-card.amex {
      background-position: -160px; }
  section .form-group {
    position: relative; }
  section label.error {
    position: absolute;
    top: -34px;
    right: 15px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 14px;
    white-space: nowrap;
    font-weight: normal; }
    section label.error:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border: 8px solid;
      border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
      display: block;
      top: 30px;
      right: 15px; }
  section .panel-group .panel {
    box-shadow: none;
    border-radius: 2px;
    margin-bottom: 1em; }
    section .panel-group .panel .panel-heading {
      background: white;
      border: none; }
      section .panel-group .panel .panel-heading .panel-title {
        padding: 8px 0; }
        section .panel-group .panel .panel-heading .panel-title a {
          font-size: 1.35em; }
          section .panel-group .panel .panel-heading .panel-title a .glyphicon {
            color: #dadada;
            font-size: 0.75em;
            margin-right: 10px; }
          section .panel-group .panel .panel-heading .panel-title a .glyphicon-chevron-down {
            display: inline-block; }
          section .panel-group .panel .panel-heading .panel-title a .glyphicon-chevron-right {
            display: none; }
          section .panel-group .panel .panel-heading .panel-title a.collapsed .glyphicon-chevron-right {
            display: inline-block; }
          section .panel-group .panel .panel-heading .panel-title a.collapsed .glyphicon-chevron-down {
            display: none; }
    section .panel-group .panel .panel-collapse .panel-body {
      border-top: none;
      font-size: 17px;
      line-height: 1.6;
      padding: 0 20px 20px; }
      section .panel-group .panel .panel-collapse .panel-body i {
        width: 57px;
        height: 78px;
        float: left;
        margin: 0 25px 20px;
        display: none;
        vertical-align: middle;
        background-size: 57px 78px;
        background-position: bottom center; }
        section .panel-group .panel .panel-collapse .panel-body i.question1 {
          background-image: url("../img/question_img1.jpg"); }
        section .panel-group .panel .panel-collapse .panel-body i.question2 {
          background-image: url("../img/question_img2.jpg"); }
        section .panel-group .panel .panel-collapse .panel-body i.question3 {
          background-image: url("../img/question_img3.jpg"); }
        section .panel-group .panel .panel-collapse .panel-body i.question4 {
          background-image: url("../img/question_img4.jpg"); }
        section .panel-group .panel .panel-collapse .panel-body i.question5 {
          background-image: url("../img/question_img5.jpg"); }
        section .panel-group .panel .panel-collapse .panel-body i.question6 {
          background-image: url("../img/question_img6.jpg"); }
        section .panel-group .panel .panel-collapse .panel-body i.question7 {
          background-image: url("../img/question_img7.jpg"); }
        section .panel-group .panel .panel-collapse .panel-body i.question8 {
          background-image: url("../img/question_img8.jpg"); }
  section#buy-now h1 {
    margin-bottom: 10px; }
  section#buy-now h2 {
    font-size: 26px; }
  section#buy-now .btn {
    margin-top: 10px;
    font-size: 22px;
    padding: 15px 45px; }

.footer {
  padding: 2em 0;
  background: #107187; }
  .footer .copyright {
    color: #ddf5fb; }
    .footer .copyright a {
      color: #ddf5fb; }
